$sub-color: grey;
$main-color: black;

@mixin shrinkLabel {
  top: -14px;
  font-size: 12px;
  color: $main-color;
}

.group {
  position: relative;
  margin: 45px 0;

  .form-input,  .date-picker{
    background: none;
    background-color: white;
    color: $sub-color;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid $sub-color;
    margin: 25px 0;

    &:focus {
      outline: none;
    }

    &:focus ~ .form-input-label, .react-datepicker-ignore-onclickoutside {
      @include shrinkLabel();
    }
  }

  input[type='password'] {
    letter-spacing: 0.3em;
  }

  .form-input-label {
    color: $sub-color;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 300ms ease all;

    &.shrink {
      @include shrinkLabel();
    }
  }
}


.date-picker {
  display: block;
}
.react-datepicker-wrapper{
  width: -webkit-fill-available !important;
  border: none !important;
  border-radius: .25rem !important;
  line-height: 1.5 !important;
  color: #495057 !important;
  background-color: #fff !important;
  background-clip: padding-box !important;
  line-height: 1.5 !important;
  input {
      width: 100% !important;
      height: 2.7rem !important;
      border: hidden !important;
      border-radius: 0 !important;
      margin-right: 0 !important;
  }

  &:focus {
    input {
     
      border: hidden !important;
      border-radius: 0 !important;
      margin-right: 0 !important;
  }
    outline: none;
    // border: none !important;
    // border-bottom: 1px solid $sub-color !important;
  }
 
}

.date-picker:focus {
  .react-datepicker-ignore-onclickoutside {
    @include shrinkLabel();
  }
}

*:focus {
  outline: none;
  @include shrinkLabel();
  }

