.form-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    margin: 15px;
    margin-left: -5%;
    border: 2px solid aliceblue;
}

.promo-form{
    display: inline-block;
    margin: auto;
    line-height: 2;
}

.promo-type-section{
    width: max-content;
    display: flex;
    align-items: flex-start;
    width: 100%;
    padding: 1rem;
  
    .promo-type-text{
      width: 30%;
      display: inline-block;
      margin-top: 2rem;
    }
  }

#page-content-wrapper {
    display: inline-block;
    min-width: 0;
    margin-top: 10px !important;
    width: 40% !important;
}