

    .serialNo, .orderNo{
        width: 8% !important;
    display: inline-block !important;
    text-align: center !important;
    }
    
    .price{
        width: 15% !important;
        display: inline-block !important;
        text-align: center;
    }
    .action{
        width: 30% !important;
        display: inline-block !important;
        text-align: center !important;
    }
    .status{
        width: 25% !important;
        display: inline-block !important;
        text-align: center !important
    }
